[submodule "configs/fish"]
	path = configs/fish
	url = git@github.com:Creator54/fish.git
	branch = main
[submodule "wm/wm-configs/awesome"]
	path = wm/wm-configs/awesome
	url = git@github.com:Creator54/awesome.git
	branch = new
[submodule "wm/wm-configs/dwm"]
	path = wm/wm-configs/dwm
	url = git@github.com:Creator54/dwm.git
	branch = main
